<h1 class="title">Edit Picture</h1>

<p>
  <section class="back"><%= link_to "Back", @image %></section> 
</p>

<!-- #where is it stating this is being patched to images/:id? -->
<section class="form"><%= form_for @image do |f| %>
  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %><br><br><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</section>
