<h1 class="title">Add an Image</h1>


<section class="home-button"><%= link_to "Home", root_url %></section>

<!-- #where is it implied that this form is posted to images -->

<section class="form">
<%= form_for @image do |f| %>
  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %><br><br><br>
  </p>

  <p>
    <%= submit_tag "Save" %>
  </p>
<% end %>
</section>
